body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
}

body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1176px;
	margin: 0 auto;
	padding: 0 15px;
}

// .grid-16 {
// 	display: grid;
// 	grid-template-columns: repeat(16, 1fr);
// }

// .grid-header-aside {
// 	grid-column: 1 / 4;
// }

// .grid-main {
// 	grid-column: 4 / 17;
// }

// .grid-footer {
// 	grid-column: 4 / 17;
// }

.main {
	margin-left: 300px;
}

.main-btn {
	display: inline-block;
	padding: 20px 30px;
	font-weight: 600;
	font-size: 14px;
	line-height: 140%;
	text-align: center;
	color: #ffffff;
	background: #484d97;
	border-radius: 4px;
	border: 1px solid transparent;
	transition: all 0.3s ease;
	&:hover {
		background: #fff;
		color: #484d97;
		border-color: rgba(72, 77, 151, 0.15);
	}
}

@media (max-width: 768px) {
	.main-btn {
		padding: 15px 15px;
		font-size: 12px;
	}
}

.bg-grey {
	// background: #e5e5e5;
}

.bg-white {
	background: #fff;
}

.grey-text {
	color: #999999;
}

.white-text {
	color: #fff;
}

.black-text {
	color: #333;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

h2,
.title-h2 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 800;
}

h1,
.title-h1 {
	font-size: 22px;
	line-height: 1.4;
	text-transform: uppercase;
	font-weight: 800;
}

p {
	font-size: 14px;
	color: #333;
	line-height: 1.5;
	margin-bottom: 1em;
}

.extra-bold {
	font-weight: 800;
}

.semi-bold {
	font-weight: 600;
}

.fs-12 {
	font-size: 12px;
	line-height: 1.5;
}

.fs-18 {
	font-size: 18px;
}

.fs-22 {
	font-size: 22px;
}

.lh-150 {
	line-height: 1.5;
}
.lh-130 {
	line-height: 1.3;
}

.lh-162 {
	line-height: 1.62;
}

.lh-178 {
	line-height: 1.78;
}

.mb-45 {
	margin-bottom: 45px;
}

.bg-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 1200px) {
	.main {
		padding: 80px 0 0 0;
		margin-left: 0;
	}
}

@media (max-width: 500px) {
	h2,
	.title-h2 {
		font-size: 18px;
	}

	h1,
	.title-h1 {
		font-size: 18px;
	}
}

.mCS-my-theme.mCSB_inside > .mCSB_container {
	margin-right: 0;
}

.mCS-my-theme .mCSB_dragger_bar {
	height: 28px !important;
	width: 9px !important;
	background-color: #484d97 !important;
}

.mCS-my-theme .mCSB_scrollTools .mCSB_dragger {
	height: 28px !important;
}

.mCS-my-theme .mCSB_scrollTools .mCSB_draggerRail {
	width: 5px !important;
	background-color: #efefef !important;
}

.breadcrumbs {
}

.breadcrumbs-wrap {
	padding: 60px 0 10px 0;
}

.breadcrumbs-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.breadcrumbs-item {
	position: relative;
	margin-right: 25px;
	margin-bottom: 10px;
	&::before {
		content: "/";
		position: absolute;
		top: 50%;
		right: -12px;
		transform: translateY(-50%);
	}
	&:last-child {
		margin-right: 0;
		&::before {
			content: none;
		}
	}
}

.breadcrumbs-item a {
	font-size: 14px;
	line-height: 150%;
	color: #000000;
	&:hover {
		text-decoration: underline;
	}
}

.breadcrumbs-item span {
	font-size: 14px;
	line-height: 150%;
	color: rgba(0, 0, 0, 0.35);
}

@media (max-width: 768px) {
	.breadcrumbs-wrap {
		padding: 20px 0 10px 0;
	}

	.breadcrumbs-item a {
		font-size: 12px;
	}

	.breadcrumbs-item span {
		font-size: 12px;
	}
}
