<section class="catalog">
    <div class="container">
        <div class="catalog-wrap">
            <div class="catalog-title title-h2">Каталог продукции</div>

            <div class="catalog-list">
                <div class="catalog-card anim-items anim-no-scrollTop slideTo">
                    <div class="catalog-card-title">Гофроупаковка</div>

                    <div class="catalog-card-list">
                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-1.png" alt=""></div>
                            <div class="catalog-card-name">Кондитерские изделия</div>
                        </a>

                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-2.png" alt=""></div>
                            <div class="catalog-card-name">Канцелярские товары</div>
                        </a>

                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-3.png" alt=""></div>
                            <div class="catalog-card-name">Косметика</div>
                        </a>

                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-4.png" alt=""></div>
                            <div class="catalog-card-name">Мясная и молочная продукция</div>
                        </a>

                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-5.png" alt=""></div>
                            <div class="catalog-card-name">Интернет торговля</div>
                        </a>

                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-6.png" alt=""></div>
                            <div class="catalog-card-name">Любые другие товары</div>
                        </a>
                    </div>

                    <div class="catalog-card-button-wrap">
                        <a href="#" class="catalog-card-button main-btn">Перейти в каталог с отраслевым разделением</a>
                    </div>

                </div>

                <div class="catalog-card anim-items anim-no-scrollTop slideTo">
                    <div class="catalog-card-title">Ролевая продукция</div>

                    <div class="catalog-card-list">
                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-7.png" alt=""></div>
                            <div class="catalog-card-name">Картон для плоских слоев</div>
                        </a>

                        <a href="#" class="catalog-card-item">
                            <div class="catalog-card-image"><img src="./img/image-card-catalog-8.png" alt=""></div>
                            <div class="catalog-card-name">Бумага для гофрирования</div>
                        </a>
                    </div>

                    <div class="catalog-card-text">
                        <ul class="list-check">
                            <li>Все марки гофрированного картона</li>
                            <li>Высокая скорость и качество переработки</li>
                            <li>Широкий спектр применения в упаковочных решениях</li>
                            <li>Минимальные отклонения показателей качества</li>
                            <li>Высокое качество печати</li>
                        </ul>

                        <p>
                            Наша продукция соответствует единым санитарно эпидемиологическим и гигиеническим требованиям
                            Таможенного союза и обладает конкурентной ценой на рынке в России и за рубежом.
                        </p>
                    </div>

                    <div class="catalog-card-button-wrap">
                        <a href="#" class="catalog-card-button main-btn">Перейти в каталог с тарным картоном</a>
                    </div>
                </div>
            </div>

            <a href="./img/тест.pdf" class="catalog-download" download>
                <span>Скачать каталог Fefco для гофроупаковки</span>
            </a>
        </div>
    </div>
</section>