<section class="news grid-main">
    <div class="container">
        <div class="news-container">
            <div class="news-articles grid-4">
                <div class="articles-navigation">
                    <h2 class="title-h2">
                        Наши новости
                    </h2>
                    <div class="articles">
                        <div class="news-img-block">
                            <div class="square">

                            </div>
                            <div class="image">
                                <img src="./img/news-img-block.png" alt="Гофроновости и статьи">
                            </div>
                        </div>
                        <h3 class="title-h3">
                            Гофроновости и статьи
                        </h3>
                        <ul class="articles-list">
                            <li><a href="#" class="article-link">ГОСТы, FEFCO</a></li>
                            <li><a href="#" class="article-link">Словарь терминов</a></li>
                            <li><a href="#" class="article-link">Вопросы-Ответы</a></li>
                        </ul>
                    </div>
                </div>
                <div class="news-navigation">
                    <a href="#" class="all-news">
                        Все новости
                    </a>
                    <div class="latest-news grid-4">
                        <div class="news-item">
                            <a href="#" class="news-link"><img src="./img/news-1.png" alt="Отраслевые выставки"
                                    class="news-img"></a>
                            <div class="news-title">
                                <h4 class="title-h4">
                                    <a href="#" class="news-link">Отраслевые выставки</a>
                                </h4>
                                <div class="news-description">
                                    <a href="#" class="news-link">С 25 по 28 августа 2020 года в МВЦ «Крокус Экспо»
                                        состоится 25-я международная выставка упаковочной индустрии -
                                        Росупак-2020.</a>
                                </div>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="#" class="news-link"><img src="./img/news-2.png"
                                    alt="Итоги выставки «Росупак-2011»" class="news-img"></a>
                            <div class="news-title">
                                <h4 class="title-h4">
                                    <a href="#" class="news-link">Итоги выставки <br>«Росупак-2011»</a>
                                </h4>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="#" class="news-link"><img src="./img/news-3.png"
                                    alt="Рекомендации по штабелированию" class="news-img"></a>
                            <div class="news-title">
                                <h4 class="title-h4">
                                    <a href="#" class="news-link">Рекомендации по штабелированию</a>
                                </h4>
                            </div>
                        </div>
                        <div class="news-item">
                            <a href="#" class="news-link"><img src="./img/news-4.png"
                                    alt="Драйверов для промышленного роста нет" class="news-img"></a>
                            <div class="news-title">
                                <h4 class="title-h4">
                                    <a href="#" class="news-link">Запахло кризисом.<br> Драйверов для промышленного
                                        роста нет.</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>