<section class="production grid-main">
    <div class="container">
        <div class="production-container">
            <h2 class="title-h2">
                Продукция
            </h2>
            <div class="production__tab-control">
                <a href="#buyers-choice" class="production__tab-button js-tab active title-h3">Гофроупаковка</a>
                <a href="#product-discount" class="production__tab-button js-tab title-h3">Ролевая продукция</a>
            </div>
            <div class="production__tab-content">
                <div class="production__tab-item active js-tab-item" id="buyers-choice">
                    <div class="tab">
                        <div class="tab-container">
                            <div class="production-item">
                                <a href="#" class="item-image-link">
                                    <h4 class="title-h4">Кондитерские изделия</h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="../img/box1.png" alt="Кондитерские изделия" class="item-image">
                                    </a>
                                </div>
                            </div>
                            <div class="production-item">
                                <a href="#" class="item-image-link">
                                    <h4 class="title-h4">Канцелярские товары и бумажная продукция</h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="../img/box2.png" alt="Канцелярские товары и бумажная продукция"
                                            class="item-image">
                                    </a>
                                </div>
                            </div>
                            <div class="production-item">
                                <a href="#" class="item-image-link">
                                    <h4 class="title-h4">Косметика</h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="../img/box3.png" alt="Косметика" class="item-image">
                                    </a>
                                </div>
                            </div>
                            <div class="production-item">
                                <a href="#" class="item-image-link">
                                    <h4 class="title-h4">Мясная и молочная продукция</h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="../img/box4.png" alt="Мясная и молочная продукция" class="item-image">
                                    </a>
                                </div>
                            </div>
                            <div class="production-item">
                                <a href="#" class="item-image-link">
                                    <h4 class="title-h4">Интернет-торговля</h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="../img/box5.png" alt="Интернет-торговля" class="item-image">
                                    </a>
                                </div>
                            </div>
                            <div class="production-item">
                                <a href="#" class="item-image-link">
                                    <h4 class="title-h4">Любые другие товары</h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="../img/box6.png" alt="Любые другие товары" class="item-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="production__tab-item js-tab-item" id="product-discount">
                    <div class="tab">
                        <div class="tab-container">
                            <div class="production-item">
                                <a href="#" class="item-image-link">
                                    <h4 class="title-h4">Картон для плоских слоев</h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="../img/box7.png" alt="Кондитерские изделия" class="item-image">
                                    </a>
                                </div>
                            </div>
                            <div class="production-item">
                                <a href="#" class="item-image-link">
                                    <h4 class="title-h4">Бумага для гофрирования</h4>
                                </a>
                                <div class="production-image">
                                    <a href="#" class="item-image-link">
                                        <img src="../img/box8.png" alt="Канцелярские товары и бумажная продукция"
                                            class="item-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>