.certification {
	padding: 120px 0;
	& .certification-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		& .sertificates {
			width: 50%;
		}
		& .title-h2 {
			margin-bottom: 40px;
		}
		& .sertificate-list {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			& .sertificate-item {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: top;
				position: relative;
				width: 50%;
				margin-bottom: 30px;
				& .cut-img {
					height: 200px;
					overflow: hidden;
					z-index: 10;

					& .full-certificate-link {
						display: block;
					}

					& .sertificate-img {
						width: 170px;
						display: block;
						margin-left: auto;
						margin-right: auto;
						transition: all 0.3s ease;
						&:hover,
						&:active {
							transform: scale(1.02);
						}
					}
				}
				& .grey-round-square {
					position: absolute;
					width: 90%;
					height: 170px;
					left: 50%;
					transform: translate(-50%, 0);
					bottom: 0;
					background: #f8f8fa;
					border-radius: 25px;
				}
			}
		}

		& .complaints-form {
			width: 50%;
			& .blue-container {
				background: #484d97;
				border-radius: 4px;
				& .title-h2 {
					color: #fff;
				}
				& .padding-container {
					padding: 45px;
					& .form-order-row {
						display: grid;
						grid-template-columns: 1fr 1fr;
						grid-gap: 20px;
						margin-bottom: 20px;
						& .form-order-column:first-child {
							display: grid;
							grid-gap: 20px;
						}
						& .form-order-wrap-input {
							height: 100%;
						}

						& .wrap-input input {
							width: 100%;
							padding: 21px 25px;
							font-size: 14px;
							line-height: 1.2;
							border-radius: 4px;
							background: #404590;
							&::placeholder {
								color: #fff;
								opacity: 0.6;
							}
						}

						& .wrap-input textarea {
							width: 100%;
							height: 100%;
							min-height: 150px;
							resize: none;
							padding: 21px 25px;
							font-size: 14px;
							line-height: 1.2;
							border-radius: 4px;
							background: #404590;
							&::placeholder {
								color: #fff;
								opacity: 0.5;
							}
						}

						& .input-data {
							color: #fff;
						}
					}

					& .form-order-group {
						display: flex;
						justify-content: space-between;
						align-items: center;
						& .form-order-checkbox {
							color: rgba(255, 255, 255, 0.5);
							font-size: 12px;
							line-height: 1.5;
							& a {
								color: rgba(255, 255, 255, 1);
								font-size: 12px;
								line-height: 1.5;
								text-decoration: underline;
								&:hover {
									text-decoration: none;
								}
							}
						}
						& .main-btn {
							display: inline-block;
							position: relative;
							text-align: left;
							max-width: 230px;
							width: 100%;
							padding: 20px 80px;
							font-weight: 600;
							color: #484d97;
							background: #ffffff;
							border: 1px solid transparent;
							border-radius: 4px;
							transition: all 0.3s ease;
							&:hover {
								color: #fff;
								background: #484d97;
								border-color: #fff;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1500px) {
	.certification .certification-container .complaints-form .blue-container .padding-container .form-order-row {
		grid-template-columns: 1fr;
	}

	.certification .certification-container .complaints-form .blue-container .padding-container .form-order-group {
		flex-direction: column;
	}

	.certification .certification-container .complaints-form .blue-container .padding-container .form-order-group .form-order-checkbox {
		margin-bottom: 20px;
		text-align: center;
	}
}

@media (max-width: 768px) {
	.certification {
		padding: 40px 0;
	}

	.certification .certification-container {
		flex-direction: column;
	}

	.certification .certification-container .sertificates {
		width: 100%;
	}

	.certification .certification-container .complaints-form {
		width: 100%;
	}

	.certification .certification-container .title-h2 {
		margin-bottom: 20px;
	}
}

@media (max-width: 500px) {
	.certification .certification-container .complaints-form .blue-container .padding-container {
		padding: 15px;
	}
}
