.product-page {
	& .title-1 {
		margin-bottom: 40px;
	}
	& .button-container {
		margin-bottom: 30px;
		width: 100%;
	}
    & .submit-application {
		border-radius: 4px;
		padding: 20px 40px;
		margin-top: 15px;
		transition: all 0.3s ease;
		min-height: 60px;
		font-weight: 600;
		flex-shrink: 0;
		flex-grow: 0;

		background: #484d97;
		color: #fff;
		border: 1px solid rgba(72, 77, 151, 0.15);
		width: 100%;
		
		&:hover,
		&:active {
			background: #efefef;
			color: #000;
			border: 1px solid rgba(72, 77, 151, 0.15);
		}
	}
    & .download-link {
		font-weight: 600;
        background: #fff;
		color: #484d97;
        border-radius: 4px;
		border: 1px solid rgba(72, 77, 151, 0.15);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 10px 20px;
    	// width: 345px;
		transition: all 0.3s ease;
		
		& svg {
			margin-right: 12px;
		}
		& .download-icon {
			width: auto;
			min-width: 30px;
		}
		&:hover,
		&:active {
			background: #484d97;
			color: #fff;
			border: 1px solid rgba(72, 77, 151, 0.15);
			& path {
				fill: #fff;
			}
		}
    }

	& .download-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
		& span {
			padding-right: 10px;
		}
	}

	& h2 {
		text-transform: inherit;
		margin-bottom: 30px;
	}

	& .product__row {
		display: flex;
		flex-direction: row;
		& .product-slider {
			width: 60%;
			margin-bottom: 15px;
			& .product-swiper-slide-big {
				text-align: center;
			}
		}
		& .product-info {
			width: 40%;
			padding-left: 60px;
			display: flex;
			flex-direction: column;
			/* justify-content: center; */
			align-items: center;
		}
		& .slider-big {
			margin-bottom: 30px;
		}
	}

	& .product-button-prev {
		&:after {
			content: url("../img/icon-prev.svg")
		}
	}

	& .product-button-next {
		&:after {
			content: url("../img/icon-next.svg")
		}
	}

	@media (max-width: 1366px) {
		& .download-container {
			flex-wrap: wrap;
			justify-content: center;
			& span {
				text-align: center;
				margin-bottom: 5px;
			}
		}
	}

	@media (max-width: 900px) {
		& .product__row {
			flex-direction: column;
			& .product-slider {
				width: 100%;
			}
			& .product-info {
				text-align: left;
				width: 100%;
				padding-left: 0;
			}
		}

		& .button-container {
			width: auto;
			min-width: 500px;
		}
	}

	@media (max-width: 500px){
		& .button-container {
			min-width: 100%;
		}
	}

}

